<div id="container">
  <div id="poster" class="siliconvalley">
    <div id="overlay">
      <div id="meta">
        <div class="wrapper">
          <div class="item">
            <h1>Silicon Valley</h1>
            <h2>
              <i class="fa fa-star primary"></i>
              <i class="fa fa-star primary"></i>
              <i class="fa fa-star primary"></i>
              <i class="fa fa-star primary"></i>
              <i class="fa fa-star"></i>
              • 2014 • 1 Season • 5.1
            </h2>
            <p>
              In the high-tech gold rush of modern Silicon Valley, the people most qualified to succeed are the least capable of handling success.    A  comedy partially inspired by Mike Judge's own experiences as a Silicon Valley engineer in the late 1980s.
            </p>
          </div>
          <div class="item">
            <h1>Breaking Bad</h1>
            <h2>
              <i class="fa fa-star primary"></i>
              <i class="fa fa-star primary"></i>
              <i class="fa fa-star primary"></i>
              <i class="fa fa-star primary"></i>
              <i class="fa fa-star"></i>
              • 2014 • 1 Season • 5.1
            </h2>
            <p>
              In the high-tech gold rush of modern Silicon Valley, the people most qualified to succeed are the least capable of handling success.    A  comedy partially inspired by Mike Judge's own experiences as a Silicon Valley engineer in the late 1980s.
            </p>
          </div>
          <div class="item">
            <h1>Dexter</h1>
            <h2>
              <i class="fa fa-star primary"></i>
              <i class="fa fa-star primary"></i>
              <i class="fa fa-star primary"></i>
              <i class="fa fa-star primary"></i>
              <i class="fa fa-star"></i>
              • 2014 • 1 Season • 5.1
            </h2>
            <p>
              In the high-tech gold rush of modern Silicon Valley, the people most qualified to succeed are the least capable of handling success.    A  comedy partially inspired by Mike Judge's own experiences as a Silicon Valley engineer in the late 1980s.
            </p>
          </div>
          <div class="item">
            <h1>Game of Thrones</h1>
            <h2>
              <i class="fa fa-star primary"></i>
              <i class="fa fa-star primary"></i>
              <i class="fa fa-star primary"></i>
              <i class="fa fa-star primary"></i>
              <i class="fa fa-star"></i>
              • 2014 • 1 Season • 5.1
            </h2>
            <p>
              In the high-tech gold rush of modern Silicon Valley, the people most qualified to succeed are the least capable of handling success.    A  comedy partially inspired by Mike Judge's own experiences as a Silicon Valley engineer in the late 1980s.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div id="poster-image">
      <div class="wrapper">
        <div class="item-1"></div>
        <div class="item-2"></div>
        <div class="item-3"></div>
        <div class="item-4"></div>
      </div>
    </div>
  </div>
  
  <div id="list">
    
    <h2>Recently Watched</h2>
    <div class="list recently">
      <div data-item-name="siliconvalley" class="list-item siliconvalley active"></div>
      <div data-item-name="breakingbad" class="list-item breakingbad"></div>
      <div data-item-name="dexter" class="list-item dexter"></div>
      <div data-item-name="gameofthrones" class="list-item gameofthrones"></div>
      <div data-item-name="agentsofshield" class="list-item agentsofshield"></div>
      <div data-item-name="arrow" class="list-item arrow"></div>
      <div data-item-name="" class="list-item blacksails"></div>
      <div data-item-name="" class="list-item sherlock"></div>
      <div data-item-name="" class="list-item cosmos"></div>
      <div data-item-name="" class="list-item lost"></div>
      <div data-item-name="" class="list-item house"></div>
    </div>

    <h2>Popular</h2>
    <div class="list popular">
      <div data-item-name="" class="list-item houseofcards"></div>
      <div data-item-name="" class="list-item madmen"></div>
      <div data-item-name="" class="list-item haltandcatchfire"></div>
      <div data-item-name="" class="list-item flash"></div>
      <div data-item-name="" class="list-item sonsofanarchy"></div>
      <div data-item-name="" class="list-item doctorwho"></div>
      <div data-item-name="" class="list-item thewalkingdead"></div>
      <div data-item-name="" class="list-item thebigbangtheory"></div>
      <div data-item-name="" class="list-item scrubs"></div>
      <div data-item-name="" class="list-item modernfamily"></div>
      <div data-item-name="" class="list-item hannibal"></div>
    </div>
  </div>
</div>

<div id="backward">
  <i class="fa fa-backward fa-5x"></i>
</div>

<p id="mode" data-mode="autopause">
  ’Till I Collapse <span>ON</span>
</p>


<div id="video-wrapper">
  <video id="video" style="width: 100%; height: auto;" controls="controls">
    <source src="/Silicon_Valley_S01E01.m4v" />
  </video>
</div>

<ul id="videos">
  <li><a href="#" data-video-url="/Silicon_Valley_S01E01.m4v">Season 1, Episode 1</a></li>
  <li><a href="#" data-video-url="/Silicon_Valley_S01E02.m4v">Season 1, Episode 2</a></li>
</ul>

<ul>
  <li><a href="#" id="play">Play</a></li>
  <li><a href="#" id="collapse">Collapse</a></li>
  <li><a href="#" id="awake">Awake</a></li>
</ul>

