<p id="mode" data-mode="autopause">
  mode: <span id="mode_label">till i collapse</span>
</p>

<video id="video" style="width: 100%; height: auto;" controls="controls">
  <source src="/Silicon_Valley_S01E01.m4v" />
</video>

<ul id="videos">
  <li><a href="#" data-video-url="/Silicon_Valley_S01E01.m4v">Season 1, Episode 1</a></li>
  <li><a href="#" data-video-url="/Silicon_Valley_S01E02.m4v">Season 1, Episode 2</a></li>
</ul>

<ul>
  <li><a href="#" id="play">Play</a></li>
  <li><a href="#" id="collapse">Collapse</a></li>
</ul>
